@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-thin.ttf') format('truetype');
    font-weight: 100;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-black.ttf') format('truetype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}

* {
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }  

.background-image {
    position: fixed;
    z-index: -20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.primary-header {
    --_bg: rgba(0, 0, 0, 0.0);
    --_nav-link-color: #000;

    padding: 1rem;
    background: var(--_bg);

    position: sticky;
    top: 0;
    height: 70pt;
    z-index: 10;
    font-size: 16pt;

    transition: background-color 500ms;
    transition: 300ms;
}

.primary-header.sticking {
    --_bg: #000;
    --_nav-link-color: #fff;
    height: 40pt;
    font-size: 14pt;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;

}

li {
    float: left;
}

li a {
    display: block;
    color: var(--_nav-link-color);
    font-weight: 200;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #F2E2B1;
    border-bottom: solid 1px #F2E2B1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10%;

}

.logo {
    width: 300px;
}

h1 {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 60pt;
    letter-spacing: 10pt;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    position: relative;
    display: block;
    padding: 10pt;
    font-weight: 300;
    font-size: 20pt;
    letter-spacing: 5pt;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

h3 {
    color: #000;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

}

a {
    color: #000;
}
.button{
    margin-top: 50px;
}
.button>a{
        color: #fff;
        display: inline-block;
        border: solid 1px #fff;
        padding: 15px;
        width: 150px;
        margin: 10px;
        text-align: center;
        text-decoration: auto;
        border-radius: 50px;
        transition: 500ms;
}

.button>a:hover{
    color: #000;
    background-color: #fff;
    display: inline-block;
    border: solid 1px #fff;
    padding: 15px;
    width: 150px;
    text-align: center;
    text-decoration: auto;
    border-radius: 50px;
    transition: 500ms;
}

a.anchor {
    position: relative;
    left: 0px;
    top: -100px;
  }

p {
    color: #000;
}

.about {
    background-color: #000;
    margin: 0;
    display: block;
    margin-bottom: -70px;

}

.about-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: grayscale();
    object-position: 100% 40%;
}

.about h3 {
    color: #fff;
}

.about p {
    color: #fff;
}

.work {
    background-color: #F6F0F0;
    margin: 0;
    display: block;
}

.contact {
    background-color: #F2E2B1;
    margin: 0;
    display: block;
    margin-bottom: -70px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 50pt;
}

.grid-container-project {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 50pt;
}

.grid-container>div {
    border-radius: 10pt;
    padding: 20px;
}

.projects {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.project-image-large {
    border-radius: 20px;
    width:80%;
}

.project-image-small {
    border-radius: 20px;
    width: 30%;
}

.project-list{
    display: flex;
    width: 80%;
    margin: auto;
}

.project-box{
    flex: 1;
    width: 30%;
    height: 600px;
    margin: 1%;
    background-color: #000;
    border-radius: 20px;
    padding: 15px;
}

.project-title{
    color: #fff;
    padding: 0;
    text-align: left;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-box>p{
    color: #fff;
    font-size: 12px;;
}

.project-image{
    width: 100%;
    border-radius: 15px;
    margin: auto;
}

.skill {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10%;
    place-content: center;
    width: 100%;
}

.skill-image {
    width: 50px;
    height: 50px;
    margin: 15pt;
    object-fit: contain;
}

.item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;

}

.item2 {
    grid-column: 3;

}

.item3 {
    grid-column: 3;

}

.item4 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;

}

.item5 {
    grid-column: 3;
}

.item6 {
    grid-column: 3;
}

.item7 {
    grid-column: 1;
}

.item8 {
    grid-column: 2 / span 2;
}


footer {
    height: 50pt;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

footer>a {
    color: #fff;

}

.project-cell{
    width: 90%;
    height: 500px;
}

.flickity-button {
    background: #000 !important;
    color: #fff !important;
}

.flickity-button:hover {
    background: #F2E2B1 !important;
    color: #000 !important;
}

.flickity-page-dots {
    position: relative !important;
    width: 150px !important;
    margin: auto !important;
    top: -25px !important;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.slider {
    height: 80%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
            animation: check 0.4s linear forwards;
  }
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
  }
  .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
  }
  .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
  }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .slider__contents {
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;

  }
  .slider__image {
    font-size: 2.7rem;
        color: #2196F3;
  }
  .slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
  .slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
  }
  
  @-webkit-keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  
  @keyframes check {
    50% {
      outline-color: #333;
      box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
      outline-color: #333;
      box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
  }
  

@media only screen and (max-width: 1450px) {

    h1 {
        font-size: 40pt;
        width: 80%;
        text-align: center;
    }

    h2 {
        font-size: 16pt;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {

    .title {
        margin-top: 30%;
    }

    .logo {
        width: 150px;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .grid-container-project{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .projects {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
    }

    iframe {
        height: 150%;
    }

    .primary-header__inner {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

    }

    li a {
        font-size: 11pt;
    }

    h1 {
        font-size: 25pt;
        width: 90%;
        text-align: center;
    }

    h2 {
        font-size: 12pt;
        width: 90%;
        text-align: center;
    }

    .project-list{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.project-box{
    flex: 1;
    width: 90%;
}
}