@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-thin.ttf') format('truetype');
    font-weight: 100;
    /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-light.ttf') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-black.ttf') format('truetype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}

* {
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.background-image {
    position: fixed;
    z-index: -20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.primary-header {
    --_bg: rgba(0, 0, 0, 0.0);
    --_nav-link-color: #000;

    padding: 1rem;
    background: var(--_bg);

    position: sticky;
    top: 0;
    height: 70pt;
    z-index: 10;
    font-size: 16pt;

    transition: background-color 500ms;
    transition: 300ms;
}

.primary-header.sticking {
    --_bg: #000;
    --_nav-link-color: #fff;
    height: 40pt;
    font-size: 14pt;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;

}

li {
    float: left;
}

li a {
    display: block;
    color: var(--_nav-link-color);
    font-weight: 900;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #F2E2B1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10%;

}

.logo {
    width: 300px;
}

h1 {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 60pt;
    letter-spacing: 10pt;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    position: relative;
    display: block;
    padding: 10pt;
    font-weight: 300;
    font-size: 20pt;
    letter-spacing: 5pt;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

h3 {
    color: #000;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

}

a {
    color: #000;
}

p {
    color: #000;
}

.about {
    background-color: #000;
    margin: 0;
    display: block;
    margin-bottom: -70px;

}

.about-image{
    width: 100%;
    height: 200px;
    contain: layout;
}

.about h3 {
    color: #fff;
}

.about p {
    color: #fff;
}

.work {
    background-color: #F6F0F0;
    margin: 0;
    display: block;
}

.contact {
    background-color: #F2E2B1;
    margin: 0;
    display: block;
    margin-bottom: -70px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
    width: 60%;
    margin: auto;
    margin-bottom: 50pt;
}

.grid-container-project {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 50pt;
}

.grid-container>div {
    border-radius: 10pt;
    padding: 20px;
}

.projects {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.project-image-large {
    border-radius: 20px;
    width: 100%;
}

.project-image-small {
    border-radius: 20px;
    width: 30%;
}

.skill {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10%;
    place-content: center;
    width: 100%;
}

.skill-image {
    width: 50px;
    height: 50px;
    margin: 15pt;
}

.item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;

}

.item2 {
    grid-column: 3;

}

.item3 {
    grid-column: 3;

}

.item4 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;

}

.item5 {
    grid-column: 3;
}

.item6 {
    grid-column: 3;
}

.item7 {
    grid-column: 1;
}

.item8 {
    grid-column: 2 / span 2;
}


footer {
    height: 50pt;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

footer>a {
    color: #fff;

}

.project-cell{
    width: 90%;
    height: 500px;
}

.flickity-button {
    background: #000 !important;
    color: #fff !important;
}

.flickity-button:hover {
    background: #F2E2B1 !important;
    color: #000 !important;
}

.flickity-page-dots {
    position: relative !important;
    width: 150px !important;
    margin: auto !important;
    top: -25px !important;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media only screen and (max-width: 1450px) {

    h1 {
        font-size: 40pt;
        width: 80%;
        text-align: center;
    }

    h2 {
        font-size: 16pt;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {

    .title {
        margin-top: 30%;
    }

    .logo {
        width: 150px;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .primary-header__inner {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;

    }

    li a {
        font-size: 11pt;
    }

    h1 {
        font-size: 25pt;
        width: 90%;
        text-align: center;
    }

    h2 {
        font-size: 12pt;
        width: 90%;
        text-align: center;
    }

    iframe {
        height: 300px;
    }
}